@tailwind base;
.HaW {
  height: 41.7rem;
}
.w-55_625 {
  width: 55.625rem;
}
.h-46 {
  height: 46rem;
}
.top45 {
  top: 45%;
}
.recipes-gc3 {
  grid-template-columns: repeat(3, minmax(0, 27em));
}
.filters {
  width: 87.5%;
}

.absolute-positionx {
  left: 310px;
}

.absolute-positiony {
  top: 20px;
}
.max-w-1440 {
  max-width: 1440px;
  margin: 0 auto;
}
.anton {
  font-family: "Anton", sans-serif;
}
.manrope {
  font-family: "Manrope", sans-serif;
}
.line-height {
  font-size: 3rem;
  line-height: 4.5rem;
}

.o-hidden {
  overflow: hidden;
}

.top-search {
  top: 30.2rem;
}
.w-search {
  width: 60.5%;
}
.right-search {
  right: 25.25rem;
}
/* Target the dropdown by its ID or class */
#tagsUs::-webkit-scrollbar {
  width: 6px; /* Adjust the width as needed */
}

#tagsUs::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
}

#tagsUs::-webkit-scrollbar-thumb {
  background: #888; /* Handle color */
}

#tagsUs::-webkit-scrollbar-thumb:hover {
  background: #555; /* Handle color on hover */
}

#tagsAp::-webkit-scrollbar {
  width: 6px; /* Adjust the width as needed */
}

#tagsAp::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
}

#tagsAp::-webkit-scrollbar-thumb {
  background: #888; /* Handle color */
}

#tagsAp::-webkit-scrollbar-thumb:hover {
  background: #555; /* Handle color on hover */
}

#tagsIn::-webkit-scrollbar {
  width: 6px; /* Adjust the width as needed */
}

#tagsIn::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
}

#tagsIn::-webkit-scrollbar-thumb {
  background: #888; /* Handle color */
}

#tagsIn::-webkit-scrollbar-thumb:hover {
  background: #555; /* Handle color on hover */
}
@tailwind components;
@tailwind utilities;
